# Mac
.DS_Store

# Eclipse
bin/
.settings/
.classpath

# Intellij
.idea/
target/
project/target/

# Maven
log/
target/

# Gradle
.gradle/
build/
pom.xml

# sbt
.cache
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/target/
project/project/
logs/
project/.sbtserver
.sbtserver/

# Scala-IDE specific
.scala_dependencies
.worksheet

# Sonar
.sonar/

# Application
yourgame.log
.bsp
/project/build.properties

# Exclude all sbt history files but not .history3
!/.history3
/gameData.json
/gameData.xml
